<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.myLibrary.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.myLibrary.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyBookServlet</servlet-name>
    <servlet-class>com.myLibrary.BuyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBookServlet</servlet-name>
    <url-pattern>/BuyBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.myLibrary.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.myLibrary.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.myLibrary.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.myLibrary.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatBookingInfo_page</display-name>
    <servlet-name>SeatBookingInfo_page</servlet-name>
    <servlet-class>com.myLibrary.SeatBookingInfo_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatBookingInfo_page</servlet-name>
    <url-pattern>/SeatBookingInfo_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeatBookingInfoServlet</servlet-name>
    <servlet-class>com.myLibrary.SeatBookingInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatBookingInfoServlet</servlet-name>
    <url-pattern>/SeatBookingInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServelet</display-name>
    <servlet-name>UserInfoServelet</servlet-name>
    <servlet-class>com.myLibrary.UserInfoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServelet</servlet-name>
    <url-pattern>/UserInfoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatBookingGridServlet</display-name>
    <servlet-name>SeatBookingGridServlet</servlet-name>
    <servlet-class>com.myLibrary.SeatBookingGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatBookingGridServlet</servlet-name>
    <url-pattern>/SeatBookingGridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingHistoryServlet</display-name>
    <servlet-name>BookingHistoryServlet</servlet-name>
    <servlet-class>com.myLibrary.BookingHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingHistoryServlet</servlet-name>
    <url-pattern>/BookingHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>com.myLibrary.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>com.myLibrary.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyBookHistoryServlet</display-name>
    <servlet-name>BuyBookHistoryServlet</servlet-name>
    <servlet-class>com.myLibrary.BuyBookHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBookHistoryServlet</servlet-name>
    <url-pattern>/BuyBookHistoryServlet</url-pattern>
  </servlet-mapping>
</web-app>